body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.i-button {
    cursor: pointer;
}

h1 {
    margin-bottom: 1em;
    text-align: center;
}

#formularioa > * {
    margin-inline: 1em;
    margin-top: 0.8em;
}

.avatar {
    height: 50px;
    width: 50px;
}
